body {
    margin: 0;
    min-height: 100vh;
}

/* フォーム全体 */
.auth-form {
    max-width: 360px;
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
}

.auth-form__label {
    width: 140px;
}

.auth-form__input {
    flex: 1;
}

.auth-form__error {
    margin-left: 140px;
}


.auth-form__input:focus {
    outline: none;
    border: 1px solid #999;
}