.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-32 {
    margin-top: 32px;
}


.mb-16 {
    margin-bottom: 16px;
}

.mb-24 {
    margin-bottom: 24px;
}

.p-6 {
    padding: 6px;
}

.p-12 {
    padding: 12px;
}

.p-32 {
    padding: 32px;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.rounded-4 {
    border-radius: 4px;
}

.rounded-8 {
    border-radius: 8px;
}

.border {
    border: 1px solid #ccc;
}

.bg-white {
    background-color: #fff;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.nowrap {
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}